<div id="details" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <form class="form-django" method="POST">
        {% csrf_token %}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Datos Adicionales</h4>
        </div>
        <div class="modal-body">
          {{form_extra}}

        
          <div class="form-group">
            <label>Generar documentos:</label>
            <div class="checkbox">
              <label for="documentos">
                <input type="checkbox" id="documentos" name="documentos">
                Certificado de calidad y checklist
              </label>
            </div>
          </div>

          <input type="text" name="form" value="form_extra" hidden>
          <input type="text" name="nombre_equipo" value="{{form.nombre_equipo.value}}" hidden>
          <input type="text" name="preparado_por" value="{{form.preparado_por.value}}" hidden>
          <input type="text" name="service_tag" value="{{form.service_tag.value}}" hidden>
          <input type="text" name="usuario_final" value="{{form.usuario_final.value}}" hidden>
          <input type="text" name="configurado_por" value="{{form.configurado_por.value}}" hidden>
          <input type="text" name="categoria" value="{{categoria}}" hidden>
          <input type="text" name="modelo" value="{{modelo}}" hidden>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Guardar">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
      </form>
    </div>

  </div>
</div>